<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
  <hr />
  <ul>
    <%- @profile.skills.each do |skill| %>
    <li><%= skill.name %></li>
    <%- end %>
  </ul>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
